.container-main {
  width: 80%;
  margin: 0 auto;
}

.container-full {
  width: 100%;
  margin: 0 0;
}

@media (max-width: 1200px) {
  .container-main {
    width: 100%;
    margin: 0 0;
    min-width: 1200px;
  }

  .container-full {
    width: 100%;
    margin: 0 0;
    min-width: 1200px;
  }
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode/FiraCode-Regular.woff2") format("woff2"),
    url("/fonts/FiraCode/FiraCode-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.color-none {
  color: unset;
}

.ellipsis {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.p-4 {
  padding: 4px;
}

.rounded {
  border-radius: 4px;
}

.align-items-stretch {
  align-items: stretch; /* 使子元素高度自动拉伸对齐 */
}

.flex-row {
  display: flex;
  flex-direction: row; /* 明确设置行内排列 */
}

.padding-container {
  padding: 8px;
}

.text-red {
  color: red;
}
